@import url('https://fonts.googleapis.com/css?family=Lobster|Noto+Sans');
* {margin:0;padding:0;box-sizing:border-box;}
h2 {
	font-family: 'Lobster', cursive;
}
p {
	font-family: 'Noto Sans', sans-serif;
	line-height: 1.5em;
	margin: 15px;
}
strong {
	font-variant: small-caps;
}
#Rmission {
	background-color: #999999;
	width:30em;
	padding: 2em;
}
